h1{ /* box-level */
    background-color: lightgray;
    height: 300px;
    width: 300px;
    
    border: 10px solid blue;
    padding: 10px 20px;
    margin: 10px auto 40px auto;
    outline: 5px dashed salmon;
}

a{ /* inline-lvel */
    border: 10px solid red;
    padding: 10px;
}
