@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: #7E848B;
}

header{
    background-color: #4E5359;
}

header h1{
    padding: 10px;
    text-align: center;
}

#burguer{
    background-color: #24272C;
    color: white;
    display: block;   
    padding: 10px;
    text-align: center;
    cursor: po;
   }
   
#burguer:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}


menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #24272C;
    border-top: 2px solid rgb(81, 79, 79);
    color: #896846;
}

menu a:hover{
    background-color: #494a4b;
}

main{
    width: 90vw;
    background-color: #7E848B;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}   

article h2{
    padding-bottom: 20px;
}

article p{
    text-align: justify;
    margin-bottom: 29px;
    text-indent: 20px;
    color: white;
}

