*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-flow: row wrap;
    background: yellow;
}

.flex-item{
    /*flex-grow: 1;
    flex-basis: 320px;
    flex-shrink: 0;*/
    color: white;
    width: 100%;
    background-color: red;
}

.flex-item:nth-child(1){
    order: -3;
}

.flex-item:nth-child(2){
    order: -4;
}

.flex-item:nth-child(3){
    order: -1;
}

.flex-item:nth-child(4){
    order: -2;
}
